body {
  font-family: 'Courier New', Courier, monospace;
}

textarea {
  width: 100%;
  height: auto;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: normal;
  resize: auto;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}
